<%= form_for(@mod_pag) do |f| %>
  <% if @mod_pag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_pag.errors.count, "error") %> prohibited this mod_pag from being saved:</h2>

      <ul>
      <% @mod_pag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descrizione %><br />
    <%= f.text_field :descrizione, :size => 50, :maxlenght => 35,
                     :alt => 'Inserisci una descrizione per la modalità di pagamento',
                     :placeholder => 'Ri.Ba. 30 gg, Rimessa diretta, Contrassegno, etc.' %>
  </div>
  <div class="field">
    <%= f.label :dilazione_iniziale %><br />
    <%= f.number_field :dilazione_iniziale, :in => 0..999, :size => 5, :maxlenght => 3,
                       :alt => 'Inserisci il numero di giorni di dilazione iniziale', :placeholder => '0' %>
  </div>
  <div class="field">
    <%= f.label :num_rate %><br />
    <%= f.number_field :num_rate, :in => 0..99, :size => 3, :maxlenght => 2, :alt => 'Inserisci il numero di rate',
        :placeholder => '0' %>
  </div>
    <div class="field">
      <%= f.label :scadenza %><br />
      <%= f.radio_button :scadenza, 'I', :checked => true %> Immediata
      <%= f.radio_button :scadenza, 'F' %> Fine mese
    </div>
    <div class="field">
      <%= f.label :sconto %><br />
      <%= f.number_field :sconto, :in => 0..99, :size => 3, :maxlenght => 2, :alt => 'Inserisci lo sconto',
                         :placeholder => '0' %>
    </div>
    <div class="field">
      <%= f.label :tipo_pagamento %><br />
      <%= f.radio_button :tipo_pagamento, 'D', :checked => true %> Rimessa diretta
      <%= f.radio_button :tipo_pagamento, 'B' %> Ricevuta bancaria
    </div>
    <div class="field">
      <%= f.label :piu_sconto, "Sconto ulteriore" %><br />
      <%= f.number_field :piu_sconto, :in => 0..99, :size => 3, :maxlenght => 2,
                         :alt => 'Inserisci lo sconto ulteriore', :placeholder => '0' %>
    </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
