<h1>Elenco delle modalità di pagamento</h1>

<table>
  <tr>
    <th>Descrizione</th>
    <th>Dilazione iniziale</th>
    <th>Num. rate</th>
    <th>Scadenza</th>
    <th>Sconto</th>
    <th>Tipo di Pagamento</th>
    <th>Sconto ulter.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mod_pags.each do |mod_pag| %>
  <tr>
    <td><%= mod_pag.descrizione %></td>
    <td><%= mod_pag.dilazione_iniziale %></td>
    <td><%= mod_pag.num_rate %></td>
    <td><%= mod_pag.scadenza_estesa %></td>
    <td><%= mod_pag.sconto %></td>
    <td><%= mod_pag.tipo_pagamento_esteso %></td>
    <td><%= mod_pag.piu_sconto %></td>
    <td><%= link_to 'Mostra', mod_pag %></td>
    <td><%= link_to 'Modifica', edit_mod_pag_path(mod_pag) %></td>
    <td><%= link_to 'Elimina', mod_pag, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuova Modalità di pagamento', new_mod_pag_path %>
