<h1>Elenco delle zone</h1>

<table>
  <tr>
    <th>Descrizione</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zone.each do |zona| %>
  <tr>
    <td><%= zona.descrizione %></td>
    <td><%= link_to 'Mostra', zona %></td>
    <td><%= link_to 'Modifica', edit_zona_path(zona) %></td>
    <td><%= link_to 'Elimina', zona, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuova Zona', new_zona_path %>
