<h1>Listing clienti</h1>

<table>
  <tr>
    <th>Ragione sociale</th>
    <th>Via</th>
    <th>Citta</th>
    <th>Provincia</th>
    <th>Cap</th>
    <th>Telefono1</th>
    <th>Telefono2</th>
    <th>Telefono3</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Codfis piva</th>
    <th>Banca</th>
    <th>Agenzia</th>
    <th>Iban</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clienti.each do |cliente| %>
  <tr>
    <td><%= cliente.ragione_sociale %></td>
    <td><%= cliente.via %></td>
    <td><%= cliente.citta %></td>
    <td><%= cliente.provincia %></td>
    <td><%= cliente.cap %></td>
    <td><%= cliente.telefono1 %></td>
    <td><%= cliente.telefono2 %></td>
    <td><%= cliente.telefono3 %></td>
    <td><%= cliente.fax %></td>
    <td><%= cliente.email %></td>
    <td><%= cliente.codfis_piva %></td>
    <td><%= cliente.banca %></td>
    <td><%= cliente.agenzia %></td>
    <td><%= cliente.iban %></td>
    <td><%= cliente.note %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_cliente_path %>
