<%= form_for(@prodotto) do |f| %>
  <% if @prodotto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prodotto.errors.count, "error") %> prohibited this prodotto from being saved:</h2>

      <ul>
      <% @prodotto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campagna %><br />
    <%= f.select('campagna_id', Campagna.all.collect {|p| [ p.descrizione, p.id ] }, { :selected => nil }) %>
  </div>
  <div class="field">
    <%= f.label :codice %><br />
    <%= f.number_field :codice, :size => 8, :maxlength => 6, :placeholder => 'numero' %>
  </div>
  <div class="field">
    <%= f.label :descrizione %><br />
    <%= f.text_field :descrizione, :size => 70, :maxlength => 50, :placeholder => 'nome del prodotto' %>
  </div>
  <div class="field">
    <%= f.label :modello %><br />
    <%= f.select('modello_id', Modello.all.collect {|p| [ p.descrizione, p.id ] }, { :selected => nil }) %>
  </div>
  <div class="field">
    <%= f.label :composizione %><br />
    <%= f.text_area :composizione, :size => '55x2', :maxlength => 100, :placeholder => 'composizione del prodotto' %>
  </div>
  <div class="field">
    <%= f.label :prezzo_unitario %><br />
    <%= f.text_field :prezzo_unitario, :size => 12, :maxlength => 11 %>
  </div>
  <div class="field">
    <%= f.label :prezzo_conformato %><br />
    <%= f.text_field :prezzo_conformato, :size => 12, :maxlength => 11 %>
  </div>
  <div class="field">
    <%= f.label :iva %><br />
    <%= f.number_field :iva , :in =>0..100, :step => 1, :size => 4, :maxlength => 3, :placeholder => 'iva'%>
  </div>
  <div class="field">
    <%= f.label :unita, 'Unità di misura:' %><br />
    <%= f.select('unita_id', Unita.all.collect {|p| [ p.unita, p.id ] }, { :selected => nil }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
