<h1>Elenco dei prodotti</h1>

<table>
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Campagna</th>
    <th>Prezzo unitario</th>
    <th>Iva</th>
    <th>Prezzo conformato</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prodotti.each do |prodotto| %>
  <tr>
    <td><%= prodotto.codice %></td>
    <td><%= prodotto.descrizione %></td>
    <td><%= prodotto.campagna.descrizione %></td>
    <td><%= prodotto.prezzo_unitario %></td>
    <td><%= prodotto.iva %></td>
    <td><%= prodotto.prezzo_conformato %></td>
    <td><%= link_to 'Mostra', prodotto %></td>
    <td><%= link_to 'Modifica', edit_prodotto_path(prodotto) %></td>
    <td><%= link_to 'Elimina', prodotto, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuovo Prodotto', new_prodotto_path %>
