<p id="notice"><%= notice %></p>

<p>
  <b>Campagna:</b>
  <%= @prodotto.campagna.descrizione %>
</p>

<p>
  <b>Codice:</b>
  <%= @prodotto.codice %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @prodotto.descrizione %>
</p>

<p>
  <b>Modello:</b>
  <%= @prodotto.modello.descrizione %>
</p>

<p>
  <b>Composizione:</b>
  <%= @prodotto.composizione %>
</p>

<p>
  <b>Prezzo unitario:</b>
  <%= @prodotto.prezzo_unitario %>
</p>

<p>
  <b>Prezzo conformato:</b>
  <%= @prodotto.prezzo_conformato %>
</p>

<p>
  <b>Iva:</b>
  <%= @prodotto.iva %>
</p>

<p>
  <b>Unit&agrave; di misura:</b>
  <%= @prodotto.unita.unita %>
</p>


<%= link_to 'Modifica', edit_prodotto_path(@prodotto) %> |
<%= link_to 'Indietro', prodotti_path %>
